##
##  Configuration file for the Registry server
##


##########################################################################
################## General settings ######################################
##########################################################################

container.externalurl=https://${registryGatewayHost}:${registryGatewayPort}/${registryName}
container.host=${registryHost}
container.port=${registryPort}

container.wsrf.sg.defaulttermtime=1800

container.security.credential.path=${registryKeystore}
container.security.credential.password=${registryKeystorePassword}
container.security.truststore.type=${registryTruststoreType}
container.security.truststore.directoryLocations.1=${registryTruststore}
container.security.truststore.keystorePath=${registryTruststore}
container.security.truststore.keystorePassword=${registryTruststorePassword}
container.security.truststore.ocspMode=IF_AVAILABLE
container.security.trustedAssertionIssuers.type=directory
container.security.trustedAssertionIssuers.directoryLocations.1=${INSTALL_PATH}/certs/unity/*.pem

persistence.directory=data

container.httpServer.requireClientAuthn=true
container.httpServer.maxIdleTime=30000
container.httpServer.maxThreads=255
container.client.serverHostnameChecking=NONE


##########################################################################
################## Registry settings #####################################
##########################################################################

container.feature.Registry.mode=shared

##########################################################################
################## Gateway settings ######################################
##########################################################################

#
# Gateway auto-registration settings
#
container.security.gateway.registration=${gwAutoRegistration}
# Interval in seconds for refreshing the registration 
container.security.gateway.registrationUpdateInterval=60

#
# Check and wait for gateway on startup?
#
container.security.gateway.waitOnStartup=true
# Maximum wait time in seconds
container.security.gateway.waitTime=1800


#########################################################################
################## User authentication ##################################
#########################################################################


# Configured authenticators and their order
container.security.rest.authentication.order=X509

# X509 (server) certificate
container.security.rest.authentication.X509.class=eu.unicore.services.rest.security.X509Authenticator

##########################################################################
################## Attribute mapping and authorisation ###################
##########################################################################

#
# Authorisation attribute source configuration
# 
# UNICORE maps the identity of the user (obtained from authentication)
# to attributes (role, xlogin, projects, ...)
#
# This property is a space separated list of attribute 
# source names, which are then configured in detail below.
# The named attribute sources are queried in the given order.
#
container.security.attributes.order=${registryAttributeSources}

#
# Combining policy
#
# If using more than one attribute source, this property controls
# how the results are combined. Valid values are
# MERGE_LAST_OVERRIDES : (default) all attributes sources are used, 
#                        with later results overwriting previous ones
# FIRST_APPLICABLE     : the first non-empty result is used
# MERGE                : attributes are merged
container.security.attributes.combiningPolicy=MERGE_LAST_OVERRIDES

#
# configuration of the 'XUUDB' attribute source
#
container.security.attributes.XUUDB.class=eu.unicore.uas.security.xuudb.XUUDBAttributeSource
container.security.attributes.XUUDB.xuudbHost=https://${registryXUUDBHost}
container.security.attributes.XUUDB.xuudbPort=${registryXUUDBPort}
# Grid component ID used when querying XUUDB
container.security.attributes.XUUDB.xuudbGCID=${registryGCID}

#
# Configuration of the 'FILE' attribute source
#
container.security.attributes.FILE.class=eu.unicore.uas.security.file.FileAttributeSource
# Path to the mapfile
container.security.attributes.FILE.file=conf/simpleuudb
# How to match entries: strict or regexp
container.security.attributes.FILE.matching=strict

#
# Configuration of the 'SAML' attribute source
#
container.security.attributes.SAML.class=eu.unicore.uas.security.saml.SAMLAttributeSource
container.security.attributes.SAML.configurationFile=conf/saml.config

##############################
# XACML policies configuration
##############################


# file which contains the list of security policy files
container.security.accesscontrol.pdpConfig=conf/xacml2.config

# The XACML PDP implementation class
container.security.accesscontrol.pdp=eu.unicore.uas.pdp.local.LocalHerasafPDP
