##
##  Configuration file for the Workflow server
##

##########################################################################
################## General settings ######################################
##########################################################################

container.sitename=${wfSitename}

container.externalurl=https://${gwHost}:${gwPort}/${wfSitename}
container.host=${wfHost}
container.port=${wfPort}

container.security.credential.path=${wfKeystore}
container.security.credential.password=${wfKeystorePassword}

container.security.truststore.type=${wfTruststoreType}
container.security.truststore.directoryLocations.1=${wfTruststore}
container.security.truststore.keystorePath=${wfTruststore}
container.security.truststore.keystorePassword=unicore

container.security.trustedAssertionIssuers.type=directory
container.security.trustedAssertionIssuers.directoryLocations.1=${INSTALL_PATH}/certs/unity/*.pem

container.client.serverHostnameChecking=NONE
container.client.http.connection.timeout=240000
container.client.http.socket.timeout=240000

container.httpServer.maxIdleTime=30000
container.httpServer.maxThreads=255
container.httpServer.requireClientAuthn=true

container.services.lifetime.default.WorkflowManagement=864000
container.services.lifetime.default=86400

persistence.directory=data

##########################################################################
################## Registry settings #####################################
##########################################################################

#
# publish entries in an external registry?
#
container.externalregistry.use=true

# Registry URL
container.externalregistry.url=${wfExternalRegistry}


##########################################################################
################## Gateway settings ######################################
##########################################################################

#
# Gateway auto-registration settings
#
container.security.gateway.registration=${gwAutoRegistration}
container.security.gateway.registrationSecret=${gwAutoRegistrationSecret}
container.security.gateway.registrationUpdateInterval=60

#########################################################################
################## User authentication ##################################
#########################################################################

# Configured authenticators and their order
container.security.rest.authentication.order=FILE

# Username/password file
container.security.rest.authentication.FILE.class=eu.unicore.services.rest.security.FilebasedAuthenticator
container.security.rest.authentication.FILE.file=conf/rest-users.txt

# Unity with username/password
container.security.rest.authentication.UNITY.class=eu.unicore.services.rest.security.UnitySAMLAuthenticator
container.security.rest.authentication.UNITY.address=https://localhost:2443/unicore-soapidp/saml2unicoreidp-soap/AuthenticationService
# validate=true requires Unity cert in trustedAssertionIssuers
container.security.rest.authentication.UNITY.validate=false


##########################################################################
################## Attribute mapping and authorisation ###################
##########################################################################

# Space separated list of attribute source names,
# which are then configured in detail below.
# The named attribute sources are queried in the given order.
#
container.security.attributes.order=${wfAttributeSources}

#
# Combining policy
#
# If using more than one attribute source, this property controls
# how the results are combined. Valid values are
# MERGE_LAST_OVERRIDES : (default) all attributes sources are used,
#                        with later results overwriting previous ones
# FIRST_APPLICABLE     : the first non-empty result is used
# MERGE                : attributes are merged
container.security.attributes.combiningPolicy=MERGE_LAST_OVERRIDES

#
# configuration of the 'XUUDB' attribute source
#
container.security.attributes.XUUDB.class=eu.unicore.services.aip.xuudb.XUUDBAttributeSource
container.security.attributes.XUUDB.xuudbHost=https://${wfXUUDBHost}
container.security.attributes.XUUDB.xuudbPort=${wfXUUDBPort}
container.security.attributes.XUUDB.xuudbGCID=${wfGCID}

#
# configuration of the 'FILE' attribute source
#
container.security.attributes.FILE.class=eu.unicore.services.aip.file.FileAttributeSource
# path to the mapfile
container.security.attributes.FILE.file=conf/simpleuudb
# how to match entries: strict or regexp
container.security.attributes.FILE.matching=strict

##############################
# XACML policies configuration
##############################
container.security.accesscontrol.pdpConfig=conf/xacml2.config
container.security.accesscontrol.pdp=eu.unicore.services.pdp.local.LocalHerasafPDP

##########################################################################
################## Workflow processing configuration #####################
##########################################################################

#
# Limit on total number of tasks per each group (i.e. (sub)workflow)
#
# By default, no more than 1000 tasks can be created
# by a single group. Note that it is not cumulative, you cannot
# limit the number of jobs for the full workflow.
#
workflow.maxActivitiesPerGroup=1000

#
# Limit on number of tasks per for-each group
#
# This will prevent accidentally submitting thousands of
# jobs from a for-each loop. By default, no more than
# 20 tasks can be active at the same time
#
workflow.forEachMaxConcurrentActivities=20

# fully switch off automatic resubmission of failed tasks?
workflow.resubmitDisable=false
# if resubmit is enabled, this controls the maximum number
# of resubmissions
workflow.resubmitLimit=3

# remove storage when workflow is destroyed (default: false)
workflow.cleanupStorage=false
# remove jobs when workflow is destroyed (default: true)
workflow.cleanupJobs=true

# number of worker threads
XNJS.numberofworkers=4

# switch off UNICORE/X features
container.feature.Base.enable=false
container.feature.JobManagement.enable=false
container.feature.StorageAccess.enable=false
